*
{
  margin: 0px;
  padding: 0px;
}

body 
{
  margin: 0px;
  padding: 0px;
  background-color: #181818;
}

.App
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/nierAutomata.png');
  background-size: cover;
  background-attachment: fixed;
}

.content 
{
  display: flex;
  flex-direction: row;
}

#logo 
{
  height: 90px;
  margin: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 400ms;
}

#logo:hover 
{
  transform: scale(1.1, 1.1);
}
