*
{
  margin: 0px;
  padding: 0px;
}

body 
{
  margin: 0px;
  padding: 0px;
  background-color: #181818;
}

.App
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background-image: url('./nierAutomata.png');
  background-size: cover;
  background-attachment: fixed;
}


.content 
{
  display: flex;
  flex-direction: row;
}
