*
{
  margin: 0px;
  padding: 0px;
}

.main 
{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  color: #aaa;
  display: flex;
  flex-direction: column;
}

h1 
{
  color: #aaa;
}
