*
{
  margin: 0;
  padding: 0;
}

.App
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url('./img/frameMecGames.png');
  background-position: top;
  background-size: cover;
  z-index: 1;

}
h1
{
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 10px;
  margin: 20px 30px 20px;
  color: #fff;
}

.Slider
{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.big
{
  width: 500%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  animation: slide 30s ease-out infinite;
}

.slide:nth-child(1) 
{
  width: 20%;
  height: 100vh;
  background-image: url('./img/game_bg_002.jpg');
  background-position: top;
  background-size: cover;
}

.slide:nth-child(2) 
{
  width: 20%;
  height: 100vh;
  background-image: url('./img/game_bg_013.jpg');
  background-position: top;
  background-size: cover;
}

.slide:nth-child(3) 
{
  width: 20%;
  height: 100vh;
  background-image: url('./img/game_bg_010.jpg');
  background-position: top;
  background-size: cover;
}

.slide:nth-child(4) 
{
  width: 20%;
  height: 100vh;
  background-image: url('./img/game_bg_005.jpg');
  background-position: top;
  background-size: cover;
}

.slide:nth-child(5) 
{
  width: 20%;
  height: 100vh;
  background-image: url('./img/game_bg_016.jpg');
  background-position: top;
  background-size: cover;
}

@keyframes slide
{
  0% { left: 0%; }
  16% { left: 0%; }
  20% { left: -100%; }
  36% { left: -100%; }
  40% { left: -200%; }
  56% { left: -200%; }
  60% { left: -300%; }
  76% { left: -300%; }
  80% { left: -400%; }
  96% { left: -400%; }
  100% { left: 0%; }
}

.enterBtn 
{
  display: block;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 5%;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.enterBtn img
{
  height: 100%;
  opacity: 0.8;
  transition: all 400ms;
}

.enterBtn img:hover
{
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.magic
{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 2; 
}

.magic img 
{
  height: 180%;
  position: relative;
  animation: spin 30s linear infinite;
}

.magenta 
{
  left: 5px;
}

.blue
{
  left: -5px;
}


@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
