*
{
  margin: 0px;
  padding: 0px;
}

.main 
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
}

.panel 
{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prevNext
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.prevNext button 
{
  margin: 0px 20px;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background-color: #333;
  color: #777;
  border-radius: 50%;
  transition: all 400ms;
  cursor: pointer;
}

.prevNext button:hover 
{
  background-color: #444;
  color: #888;
}

.mainView 
{
  background-color: transparent;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
  color: #aaa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.buttons 
{
  padding: 10px;
  display: flex;
  flex: row;
  justify-content: flex-end;
}

.selector, #newgame
{
  padding: 10px 30px;
  margin: 20px;
  background-color: #333;
  color: #666;
  border-radius: 4px;
  transition: all 400ms;
}

.selector:hover
{
  background-color: #444;
  color: #999;
}

#newgame 
{
  border: none;
  background-color: #672178;
  color: #d0d0d0;
  text-decoration: none;
  transition: all 400ms;
}

#newgame:hover
{
  background-color: #892CA0;
}

.loading 
{
  animation: loader 2s infinite;
}

@keyframes loader 
{
  0% { opacity: 10%; }
  50% { opacity: 100%; }
  100% { opacity: 10%; }
}
