*
{
  margin: 0px;
  padding: 0px;
}

.detail 
{
  padding: 60px 10%;
  width: 80%;
  background-color: transparent;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.bigCard 
{
  width: 100%;
  display: flex;
  background-color: #333;
  flex-direction: column;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  margin: 0px;
}

.gameTitle
{
  font-size: 24px;
  margin: 0px;
  background-color: #892CA0df;
  position: absolute;
  padding: 20px;
  margin: 0px;
  letter-spacing: normal;
  border-bottom-right-radius: 35px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
}

.artwork
{
  width: 100%;
}

.floatingButton 
{
  background-color: #892CA0;
  color: #ddd;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: -2px 2px 2px black;
  transition: all 400ms;
}

.floatingButton:hover 
{
  background-color: #BC5FD3;
  color: #fff;
}

.image 
{
  position: relative;
}

.rating 
{
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px #0008, 0px 0px 8px #0008;
}

.rating span:first-child 
{
  width: 80px;
  height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 24px;
  text-align: center;
  background-color: #ddd;
  color: #222;
  border: 2px solid #ddd;
}

.rating span:nth-child(2) 
{
  font-size: 32px;
  border: 2px solid #ddd;
  background-color: #0008;
  height: 60px;
  width: 80px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

.info 
{
  margin: 40px;
  color: #aaa;
  display: flex;
}

.info table 
{
  border-collapse: collapse;
  border: 1px solid #444;
  width: 200px;
  margin: 0px 20px;
}

.info table tr.title 
{
  background-color: #222;
}

.info table tr td
{
  border-bottom: 1px solid #555;
  padding: 10px;
  font-size: 14px;
}

.description 
{
  margin: 0px 20px;
}

.info p::first-line 
{
  color: #eee;
}

.info p::first-letter 
{
  color: #BC5FD3;
}

.loading 
{
  animation: loader 2s infinite;
}

@keyframes loader 
{
  0% { opacity: 10%; }
  50% { opacity: 100%; }
  100% { opacity: 10%; }
}

@media screen and (max-width: 750px)
{
  .rating
  {
    bottom: 10px;
    top: auto;
    right: 10px;
    justify-content: flex-end;
  }
  .info
  {
    flex-direction: column;
  }

  .description
  {
    margin-top: 20px;
  }
  .gameTitle
  {
    padding: 10px 20px;
    font-size: 20px;
  }
}
