*
{
  margin: 0px;
  padding: 0px;
}

.create
{
  width: 100%;
  /*height: 100vh;*/
  background-color: transparent;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.gameForm 
{
  display: flex;
  flex-direction: column;
}

.floatingButton 
{
  background-color: #892CA0;
  color: #ddd;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: -2px 2px 2px black;
  transition: all 400ms;
}

.floatingButton:hover 
{
  background-color: #BC5FD3;
  color: #fff;
}

.selectGenre, .selectPlatform 
{
  position: absolute;
  transition: all 400ms;
  background-color: blue;
}

.hidden
{
  display: none;
  opacity: 0;
  animation: hide 500ms 1;
}

.visible 
{
  display: block;
  opacity: 1;
  animation: show 500ms 1;
}

@keyframes hide 
{
  0% { display: block; opacity: 1 }
  100% { display: none; opacity: 0 }
}
@keyframes show 
{
  0% { display: none; opacity: 0}
  100% { display: block; opacity: 1 }
}
