*
{
  margin: 0px;
  padding: 0px;
}

.create
{
  width: 100%;
  /*height: 100vh;*/
  background-color: transparent;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.gameForm 
{
  display: flex;
  flex-direction: column;
}

.floatingButton 
{
  background-color: #892CA0;
  color: #ddd;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: -2px 2px 2px black;
  transition: all 400ms;
}

.floatingButton:hover 
{
  background-color: #BC5FD3;
  color: #fff;
}

