*
{
  margin: 0px;
  padding: 0px;
}

.detail 
{
  padding: 60px 10%;
  width: 80%;
  background-color: transparent;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.bigCard 
{
  width: 100%;
  display: flex;
  background-color: #333;
  flex-direction: column;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  margin: 0px;
}

.gameTitle
{
  font-size: 24px;
  margin: 0px;
  background-color: #892CA07f;
  position: absolute;
  padding: 20px;
  margin: 0px;
  border-bottom-right-radius: 35px;
  top: 0px;
  left: 0px;
}

.artwork
{
  width: 100%;
}


.description 
{
  padding: 40px;
  color: #aaa;
  font-size: 18px;
  margin-top: 0px;
}

.floatingButton 
{
  background-color: #892CA0;
  color: #ddd;
  text-decoration: none;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: -2px 2px 2px black;
  transition: all 400ms;
}

.floatingButton:hover 
{
  background-color: #BC5FD3;
  color: #fff;
}

.image 
{
  position: relative;
}

.rating 
{
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating span:first-child 
{
  width: 80px;
  height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 24px;
  text-align: center;
  background-color: #ddd;
  color: #222;
  border: 2px solid #ddd;
}

.rating span:nth-child(2) 
{
  font-size: 32px;
  border: 2px solid #ddd;
  height: 60px;
  width: 80px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}


