*
{
  margin: 0px;
  padding: 0px;
}

.detail 
{
  padding: 50px 10%;
  width: 80%;
  background-color: transparent;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-content: middle;
}

.detail h1 
{
  font-size: 24px;
  margin: 0px;
  background-color: #892CA07f;
  position: absolute;
  padding: 20px;
  margin: 0px;
  border-bottom-right-radius: 35px;
  top: 0px;
  left: 0px;
}

.artwork
{
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin: 0px;
}

.artwork img 
{
  width: 100%;
}

.description 
{
  background-color: #333;
  padding: 40px;
  color: #aaa;
  font-size: 18px;
  margin-top: 0px;
}
